<!DOCTYPE HTML>
<html>
<head>
    <title>Tanösvény Adatbázis</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<header id="header" class="alt">
    <h1>Tanösvény adatbázis</h1>
</header>

<!-- Nemzeti parkok -->
<section class="wrapper spotlight style1">
    <div class="inner">
        <h2 class="major">Nemzeti parkok</h2>
        <div class="features">
            <% np.forEach(n => { %>
                <article>
                    <h3><%= n.nev %></h3>
                    <p>ID: <%= n.id %></p>
                </article>
            <% }) %>
        </div>
    </div>
</section>

<!-- Települések -->
<section class="wrapper spotlight style2">
    <div class="inner">
        <h2 class="major">Települések</h2>
        <% telepules.forEach(t => { %>
            <article>
                <h3><%= t.nev %></h3>
                <p>NP ID: <%= t.np_id %></p>
            </article>
        <% }) %>
    </div>
</section>

<!-- Tanösvény utak -->
<section class="wrapper spotlight style3">
    <div class="inner">
        <h2 class="major">Tanösvény utak</h2>
        <% ut.forEach(u => { %>
            <article>
                <h3><%= u.nev %></h3>
                <p>Hossz: <%= u.hossz %> km</p>
                <p>Település ID: <%= u.telepules_id %></p>
            </article>
        <% }) %>
    </div>
</section>



<footer id="footer">
    <p>Készítette: ...</p>
</footer>

</body>
</html>

